@import url('https://fonts.googleapis.com/css2?family=Belanosima&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Belanosima', sans-serif;
}

body {
  background: #e8e8e8;
}

.title {
  color: blue;
}

.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}

h1 {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-size: 18px;
}

.container {
  margin: 0;
  padding: 15px;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.884);
  padding: 15px;
}

.burgerLogo {
  width: 20px;
}

.logo {
  width: 20px;
}

li {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}

.navbar a {
  text-decoration: none;
  color: #fff;
}

.logo {
  margin-right: 50px;
}

.list {
  list-style: none;
  display: flex;
  gap: 25px;
}

#toggler, .navbar label {
  display: none;
}

.social-link {
  justify-self: center;
}

@media screen and (max-width: 900px) {
  .menu {
      width: 100%;
      max-height: 0;
      overflow: hidden;
  }

  .list {
      flex-direction: column;
      align-items: center;
      padding: 5px;
  }

  .navbar label {
      display: inline-flex;
      align-items: center;
      cursor: pointer;
  }
  
  #toggler:checked ~ .menu {
      max-height: 100%;
  }
}

@media screen and (min-width: 600px) {
  .LinkNav {
    font-size: 15px;
  }
}

.container-index {
  display: grid;
  justify-items: center;
  align-self: center;
  text-align: center;
  margin-top: 50px;
}  

.form-account {
  width: 80%;
  margin-top: 50px;
  display: grid;
  justify-items: center;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  border: 0,1px solid black;
  padding: 20px;
  justify-self: center;
}

.bloc-form {
  width: 100%;
  margin: 0;
  display: grid;
  justify-items: center;
}

.bloc-form > input {
  padding: 5px;
  margin-top: 5px;
  width: 90%;
  font-size: 16px;
}

.btn-login {
  width: 93%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 4px;
  border: none;
  background-color: rgb(18, 118, 148);
  color: white;
  text-transform: uppercase;
}

.btn-create {
  width: 93%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 4px;
  border: none;
  background-color: rgb(18, 148, 24);
  color: white;
  text-transform: uppercase;
}

.separator {
  width: 90%;
  justify-self: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.error {
  padding: 120px 30px 30px 30px;
  text-align: center;
  color: red;
}

.success {
  padding: 120px 30px 30px 30px;
  text-align: center;
  color: green;
}

.text {
  color: black;
}

/* MEDIA SCREEN */
/* MEDIA SCREEN */
/* MEDIA SCREEN */

@media screen and (min-width: 500px) {
  .form-account {
    width: 460px;
  }
}

@media screen and (min-width: 1100px) {
  html {
    height: 100%;
    width: 100%;
  }

  .container-index {
    grid-template-columns: [a] 1fr [b] 1fr [c];
    grid-template-rows: [a] 1fr [b] 1fr [c];
    height: 100vh;
    width: 100%;
    margin-top: 0;
  }

  .index {
    grid-row: a / c;
    grid-column: a / b;
    justify-self: center;
    align-self: center;
  }

  .form-account {
    grid-row: a / c;
    grid-column: b / c;
    justify-self: center;
    align-self: center;
  }
}

/* LIST ACCOUNT */
/* LIST ACCOUNT */
/* LIST ACCOUNT */

.show-account {
  max-height: 1000px;
  display: flex;
  overflow-x: scroll;
  margin-top: 120px;
}

.account {
  display: grid;
  grid-template-rows: [a] 1fr [b] 1fr [c] 1fr [d];
  width: 500px;
  text-align: center;
  margin: 20px;
  padding: 10px;
  color: #090909;
  padding: 0.7em 1.7em;
  font-size: 18px;
  border-radius: 0.5em;
  background: #e8e8e8;
  border: 1px solid #e8e8e8;
  transition: all 0.3s;
  box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #fff;
}

.account:hover {
  box-shadow: -6px -6px 12px #c5c5c5, 6px 6px 12px #fff;
}

.name-account {
  padding: 10px;
}

.logo-account {
  width: 40px;
  justify-self: center;
}

@media screen and (min-width: 1500px) {
  .show-account {
    display: flex;
    position: fixed;
    right: 0;
    width: 260px;
    overflow-y: scroll;
    height: 100%;
    flex-direction: column;
    margin-top: 100px;
    height: 90%;
  }

  .account {
    width: 120px;
  }
}

/* FIL D'ACTUALITE */
/* FIL D'ACTUALITE */
/* FIL D'ACTUALITE */


/* PUBLICATION */
/* PUBLICATION */
/* PUBLICATION */

.form-publication {
  margin-top: 120px;
  width: 80%;
  margin-left: 5%;
  display: grid;
  justify-items: center;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  border: 0,1px solid black;
  padding: 20px;
  justify-self: center;
}

textarea {
  width: 90%;
  margin-top: 5px;
  font-size: 16px;
  padding: 5px;
}

@media screen and (min-width: 500px) {
  .form-publication {
    width: 460px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
  }
}